<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head></head>
<body>


<div layout:fragment="content">
    <!--/*@thymesVar id="post" type="com.visma.example.blog.post.Post"*/-->
    <h1 th:text="${post.title}" class="view-post-title">Title</h1>
    <div th:text="${post.content}" class="view-post-content">Content</div>

    <div class="view-post-creation-date-block">
        <div class="strong view-post-creation-date-title" th:text="#{post.view.createdOn}"></div>
        <div class="view-post-creation-date-value" th:text="${{post.createdTime}}">1900-01-01 15:01:02</div>
    </div>

</div>

</body>
</html>