html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.header-block {
    text-align: center;
    background: #C9E8BE;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    font-size: 20px;
}

.content {
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    height: 100%;
}

.footer-block {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.strong {
    font-weight: bold
}

/*index.html*/
.post-block {
    display: flex;
    margin: 18px 0;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.28);
    padding: 10px;
}

.post-creation-date {
    margin-right: 10px;
}

.new-post-link {
    text-align: center;
}

.new-post-link > a {
    background-color: #006f1c;
    color: #ffffff;
    text-decoration: none;
    padding: 6px;
}

/*edit.html*/
.new-post-title {
    margin: 5px 0;
    display: block;
    width: 100%;
    line-height: 32px;
    font-size: 15px;
}

.new-post-content {
    margin: 5px 0;
    display: block;
    width: 100%;
    height: 200px;
}

.new-post-submit {
    float: right;
}

.error-message {
    margin-bottom: 10px;
    color: red;
}

.field-error {
    border:1px solid red !important;
}


/*view.html*/
.view-post-creation-date-block {
    padding-top: 10px;
    display: flex;
}

.view-post-creation-date-value {
    padding-left: 3px;
}

.view-post-content {
    font-family: serif;
}
