<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
    <div layout:fragment="content">
        <!--/*@thymesVar id="allPosts" type="java.util.List<com.visma.example.blog.post.Post>"*/-->
        <div th:each="post : ${allPosts}" class="post-block">
            <div class="post-creation-date" th:text="${{post.createdTime}}">1900-01-01</div>
            <a class="post-title"
               th:text="${post.title}"
               th:href="@{/post/{id}(id=${post.id})}">mano title'as</a>
        </div>

        <div class="new-post-link">
            <a th:href="@{/post/new}" th:text="#{home.newPost}">new post link</a>
        </div>
    </div>
</body>
</html>